body {
  font-size: 1.6rem;
}
html {
  font-size: 62.5%;
  line-height: 1.4;
}

.image-wrapper{
  text-align: center;
}

.image-wrapper img{
  max-width: 100%;
}

.header{
  min-height: 400px;
  position: relative;
  background: url("../assets/images/main.jpg") center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-title{
  text-align: center;
  margin: 20px;
}

.mp-list-desc{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #C0C0C0;
}

.content{
  padding: 10px 40px;
}
.content-header{
  text-align: center;
}

.info-block{
  text-align: justify;
  padding: 0 5px;
}

.info-block.m-right{
  padding: 0 0 0 10px;
}

.content-header-btnContainer{
  text-align: center;
}

.info-header{
  text-align: center;
}

.additional-info{
 text-align: center;
}

.avatar{
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  vertical-align: middle;
  box-sizing: content-box;
}

md-list .md-button {
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 5px 15px;
  vertical-align: center;
}

md-sidenav  md-list {
  padding: 0px 0px 8px 0px;
}

.page-title{
  padding: 0 15px;
}

.btn-login{
  height: 36px;
  right: 10px;
  top: 10px;
}

