/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  font-size: 1.6rem;
}
html {
  font-size: 62.5%;
  line-height: 1.4;
}

.header{
  min-height: 400px;
  position: relative;
  background: url("../assets/images/main.jpg") center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-title{
  text-align: center;
  margin: 20px;
}

.mp-list-desc{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #C0C0C0;
}

.content{
  padding: 10px 40px;
}
.content-header{
  text-align: center;
}

.info-block{
  text-align: justify;
  padding: 0 10px 0 0;

  &.m-right{
    padding: 0 0 0 10px;
  }
}

.content-header-btnContainer{
  text-align: center;
}

.info-header{
  text-align: center;
}

.additional-info{
 text-align: center;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
